html {
    background-color: #F5F7FA;
}

body {
    padding: 0px;
    margin: 0px;
}

.background-and-shadow {
    background-color: #f8f9f9;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 1px 0.5px;
}

.img-dimension {
    max-width: 2rem;
    max-height: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px;
    background-color: white;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 3rem;
}

.user-photo {
    margin-top: 0.5rem;
}

.user-options {
    margin-top: 0.5rem;
}

.right-bar {
    order: 2;
    display: flex;
    gap: 1rem;
}

.container {
    background-color: #F5F7FA;
}

.container-main {
    display: flex;
    margin-top: 3rem;
    padding: 0.8rem;
    padding-left: 2.5rem;
    min-height: 60vh;
}

.container-main-bottom {
    margin-left: 15rem;
    margin-bottom: 1rem;
}

.main-left {
    min-width: 12.5rem;
}

.main-middle {
    display: flex;
    flex-direction: column;
}

.side-menu {
    min-width: 10rem;
    margin-right: 1rem;
}

.side-menu-item {
    min-width: 10rem;
    min-height: 4rem;
    display: flex;
    align-items: center;
    color: #656D78;
}

.side-menu-item-selected {
    min-width: 10rem;
    min-height: 4rem;
    display: flex;
    align-items: center;
    color: #656D78;
    background-color: #f8f9f9;
}

.selected-box {
    height: 4rem;
    width: 0.5rem;
    background-color: purple;
}

.side-menu-item:hover {
    background-color: #a7dbd8;
}

.item-img {
    max-height: 1.5rem;
    max-width: 1.5rem;
    margin-left: 1rem;
}

.item-img-component {
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.item-font {
    font-size: 1rem;
    font-weight: 100;
    margin-left: 1rem;
}

.cards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    width: 16vw;
    min-width: 15rem;
    height: 7.5rem;
}

.card-top {
    display: flex;
}

.card-bottom {
    margin-left: 2rem;
    margin-top: 1rem;
}

.card-img {
    max-height: 2rem;
    max-width: 2rem;
}

.card-imgs {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 5rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
}

.card-info-amount {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 2.5rem;
}

.card-info-text {
    margin-top: 0;
    margin-bottom: 0;
    color: #656D78;
}

.graph {
    width: 50vw;
    height: 40vh;
    min-width: 30rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

    .graph p {
        margin: 1rem 0rem 0rem 1rem;
        font-size: 1.5rem;
        padding: 0;
    }

.graph-content {
    padding: 0.5rem;
}

.user-screen {
    width: 27.5vw;
    height: calc(40vh + 9rem);
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7dbd8;
}

.user-img {
    margin-top: 0.5rem;
    max-width: 10rem;
    max-height: 10rem;
}

.user-info {
    display: flex;
    width: 100%;
}

    .user-info ul {
        list-style-type: none;
        padding: 0;
        margin: 2rem 1rem 0 1rem;
        color: #656D78;
    }

    .user-info li {
        margin-bottom: 0.5rem;
    }

    .user-info .right {
        margin-left: 7vw;
    }

.the-table {
    height: 50vh;
    width: calc(100vw - 18rem);
    display: flex;
    flex-direction: column;
}

    .the-table p {
        margin: 1rem 0rem 0rem 1rem;
        font-size: 1.5rem;
        padding: 0;
    }

.weather {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
}

    .pagination a {
        display: inline-block;
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        color: #333;
        text-decoration: none;
        border-radius: 3px;
    }

        .pagination a.active {
            background-color: #333;
            color: #fff;
        }
a{
    text-decoration:none;
}